# Claude Code agent working directories
.claude/

# Xcode
*.xcuserstate
xcuserdata/
.DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/
TestResults/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
.swiftpm/
